html, #start {
    width: 100%;
    background-color: #1C1C1C !important;
}
body{
    margin: 0;
    display: none;
}
.ui-btn {
    text-overflow: clip !important;
}
.ui-page {
    padding-top: 44px !important;
}
.logo {
    height: 40px;
    width: 159px;
    background: url("data:image/svg+xml;utf8,%3Csvg%20version%3D%221.2%22%20baseProfile%3D%22tiny%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22159%22%20height%3D%2240%22%20viewBox%3D%220%200%20159%2040%22%3E%3Cg%3E%3Cpath%20fill%3D%22%2344CFC0%22%20d%3D%22M102.623%2017.407c0%201.013-.813%201.825-1.825%201.825-1.013%200-1.825-.813-1.825-1.825%200-1.013.813-1.825%201.825-1.825s1.825.812%201.825%201.825%22/%3E%3Cpath%20fill%3D%22%2344CFC0%22%20d%3D%22M99.353%2012.897c0%201.013-.813%201.825-1.825%201.825-1%200-1.825-.813-1.825-1.825%200-1%20.813-1.825%201.825-1.825s1.825.825%201.825%201.825%22/%3E%3Cpath%20fill%3D%22%2344CFC0%22%20d%3D%22M94.992%207.902c0%20.762-.613%201.375-1.375%201.375s-1.388-.613-1.388-1.375.613-1.388%201.388-1.388c.762%200%201.375.625%201.375%201.388%22/%3E%3Cpath%20fill%3D%22%2344CFC0%22%20d%3D%22M109.532%207.902c0%20.762-.613%201.375-1.375%201.375s-1.388-.613-1.388-1.375.625-1.388%201.388-1.388c.762%200%201.375.625%201.375%201.388%22/%3E%3Cpath%20fill%3D%22%2344CFC0%22%20d%3D%22M102.191%2012.897c0%201.013.813%201.825%201.813%201.825%201.013%200%201.825-.813%201.825-1.825%200-1-.813-1.825-1.825-1.825-1%200-1.813.825-1.813%201.825%22/%3E%3Cpath%20fill%3D%22%2344CFC0%22%20d%3D%22M113.914%204.657c0%20.663.537%201.212%201.212%201.212.663%200%201.2-.55%201.2-1.212%200-.663-.537-1.212-1.212-1.212-.663%200-1.2.55-1.2%201.212%22/%3E%3Cpath%20fill%3D%22%2344CFC0%22%20d%3D%22M120.957%206.405c0%20.587.475%201.075%201.063%201.075.587%200%201.063-.475%201.063-1.075s-.462-1.075-1.063-1.075c-.587%200-1.063.488-1.063%201.075%22/%3E%3Cpath%20fill%3D%22%2344CFC0%22%20d%3D%22M88.513%204.657c0%20.663-.537%201.212-1.212%201.212-.663%200-1.2-.55-1.2-1.212%200-.663.537-1.212%201.212-1.212.663%200%201.2.55%201.2%201.212%22/%3E%3Cpath%20fill%3D%22%2344CFC0%22%20d%3D%22M81.471%206.405c0%20.587-.475%201.075-1.075%201.075-.587%200-1.063-.475-1.063-1.075s.488-1.075%201.063-1.075c.6%200%201.075.488%201.075%201.075%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M6.495%2025.34c0%20.65.1%201.275.313%201.875.213.6.525%201.125.925%201.587.4.463.887.837%201.45%201.125.575.275%201.225.413%201.95.413.75%200%201.412-.15%201.987-.463.563-.313%201.037-.712%201.412-1.2s.65-1.012.837-1.587c.188-.575.288-1.125.288-1.675s-.088-1.113-.288-1.688c-.187-.6-.462-1.138-.837-1.625-.375-.488-.85-.887-1.425-1.2-.575-.313-1.25-.463-2.025-.463-.737%200-1.4.15-1.975.438-.575.275-1.062.65-1.438%201.125-.388.475-.675%201-.875%201.575-.2.587-.3%201.175-.3%201.762m-3.638-3.337c.225-.55.563-1.125%201-1.75.438-.613%201-1.2%201.675-1.737.675-.537%201.462-.988%202.387-1.325.913-.35%201.963-.525%203.138-.525%201.288%200%202.475.237%203.575.7%201.088.475%202.025%201.1%202.813%201.9.787.787%201.4%201.725%201.837%202.788.438%201.063.663%202.175.663%203.337%200%201.163-.213%202.275-.663%203.337-.425%201.063-1.05%201.988-1.838%202.788-.787.787-1.725%201.425-2.813%201.9-1.1.463-2.288.7-3.587.7-1.325%200-2.525-.25-3.613-.725-1.087-.488-2.025-1.125-2.788-1.925-.775-.8-1.375-1.7-1.8-2.725-.438-1.025-.65-2.075-.65-3.15%200-.563.05-1.137.138-1.75.1-.6.262-1.213.525-1.838%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M27.97%2030.706c.5%200%20.95-.088%201.338-.275.387-.188.712-.425.988-.725.275-.3.488-.65.625-1.037.138-.388.213-.775.213-1.175%200-.375-.075-.762-.213-1.137-.125-.375-.325-.712-.6-1.025-.262-.313-.587-.563-.987-.763-.388-.2-.85-.3-1.363-.3-.512%200-.963.1-1.363.3-.387.2-.725.45-.987.763-.263.313-.475.65-.6%201.025-.138.375-.2.762-.2%201.137%200%20.388.075.787.213%201.175s.35.737.625%201.037c.275.3.6.537.988.725.388.187.825.275%201.325.275m-6.775-9.525h3.55v1.388h.07500000000000001c.375-.488.887-.912%201.525-1.275.637-.362%201.438-.55%202.413-.55%201.125%200%202.075.225%202.85.663.763.45%201.4%201%201.9%201.675s.85%201.412%201.063%202.225c.225.813.338%201.575.338%202.313%200%20.912-.15%201.762-.463%202.563-.3.8-.725%201.5-1.275%202.1-.538.6-1.188%201.075-1.938%201.425-.75.35-1.575.525-2.462.525-.575%200-1.075-.063-1.487-.188-.413-.125-.775-.263-1.087-.425-.313-.163-.563-.338-.762-.512-.2-.175-.35-.325-.463-.45v5.337h-3.775v-16.813z%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M44.95%2026.091c-.05-.175-.125-.4-.237-.65-.112-.25-.288-.488-.512-.712-.225-.225-.512-.413-.862-.563-.35-.15-.762-.225-1.25-.225s-.9.075-1.25.225c-.35.15-.637.337-.862.562-.225.225-.4.463-.512.713-.113.25-.188.475-.238.65h5.725zm3.337%203.75c-.3.712-.675%201.338-1.112%201.875-.438.537-.925.988-1.45%201.35-1.063.762-2.263%201.137-3.588%201.137-.9%200-1.762-.175-2.563-.512-.8-.338-1.512-.813-2.125-1.425-.613-.6-1.1-1.313-1.45-2.125-.375-.8-.55-1.675-.55-2.613%200-.875.163-1.725.488-2.55.325-.813.787-1.538%201.375-2.163.587-.625%201.288-1.125%202.1-1.5.813-.388%201.7-.575%202.65-.575.963%200%201.837.175%202.662.537.813.35%201.525.838%202.112%201.462.587.625%201.05%201.363%201.388%202.2.338.838.5%201.737.5%202.688%200%20.263-.013.463-.025.588-.012.125-.037.275-.075.425h-9.45c.125.762.45%201.35%201.013%201.762.55.413%201.2.625%201.95.625.575%200%201.037-.112%201.388-.338.337-.237.65-.513.9-.85h3.862z%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M49.903%2021.181h3.525v1.338h.037c.1-.15.213-.325.375-.537.163-.2.375-.4.637-.575.263-.175.6-.338.988-.463.4-.125.862-.2%201.425-.2.613%200%201.212.112%201.813.313.613.225%201.075.487%201.438.787.163.15.338.325.512.537.175.2.325.463.463.787.138.313.25.7.338%201.15.088.45.138.988.138%201.6v7.887h-3.775v-6.887c0-.225-.013-.488-.037-.787-.025-.3-.087-.587-.212-.85-.112-.275-.313-.5-.575-.7-.275-.187-.65-.287-1.162-.287-.537%200-.963.1-1.25.313-.275.2-.488.437-.625.725-.138.275-.225.563-.238.862-.025.3-.037.538-.037.737v6.863h-3.775v-12.613z%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M70.844%2021.887l-.1-.488c-.037-.188-.112-.375-.213-.55-.112-.175-.263-.313-.45-.425-.188-.112-.45-.175-.787-.175-.375%200-.712.125-1.025.362-.3.25-.45.563-.45.95%200%20.25.037.475.112.637.075.163.237.338.488.512.25.175.6.375%201.05.587.45.225%201.063.5%201.813.825.787.35%201.438.7%201.938%201.075.512.362.912.737%201.2%201.137.3.4.5.813.613%201.238.112.425.175.887.175%201.375%200%20.625-.1%201.238-.3%201.85-.175.625-.5%201.175-.95%201.65-.45.488-1.063.888-1.813%201.2-.75.313-1.675.462-2.775.462-1.212%200-2.212-.175-3-.537-.787-.35-1.412-.8-1.863-1.325-.463-.525-.775-1.112-.95-1.725-.175-.625-.263-1.212-.263-1.75v-.55h4.275c0%20.488.063.875.188%201.188.125.3.288.537.475.7.188.163.388.275.575.325.2.05.362.088.5.088.512%200%20.912-.175%201.2-.512.288-.338.425-.712.425-1.1%200-.275-.05-.512-.15-.7-.1-.2-.275-.375-.525-.55-.25-.175-.587-.35-1.013-.537-.4-.188-.937-.425-1.587-.688-.3-.125-.688-.3-1.15-.513-.462-.225-.912-.525-1.35-.887-.438-.375-.813-.837-1.138-1.4-.313-.563-.475-1.238-.475-2.025%200-.787.175-1.487.525-2.1.35-.613.8-1.137%201.363-1.55.563-.425%201.188-.75%201.887-.963.7-.225%201.4-.325%202.112-.325.838%200%201.663.15%202.487.463.825.313%201.512.787%202.063%201.45.238.287.425.587.575.887.15.287.262.575.338.85.075.287.125.55.137.813.025.25.05.512.062.75h-4.25z%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M82.982%2030.706c.5%200%20.938-.088%201.325-.275.388-.188.712-.425.988-.725.275-.3.475-.65.625-1.037.138-.388.213-.775.213-1.175%200-.375-.075-.762-.2-1.137-.137-.375-.338-.712-.6-1.025-.262-.313-.6-.563-.987-.763-.4-.2-.85-.3-1.363-.3-.525%200-.975.1-1.375.3-.387.2-.712.45-.975.763-.275.313-.475.65-.613%201.037-.138.375-.2.762-.2%201.137%200%20.388.075.787.225%201.175.138.388.35.737.625%201.037.275.3.6.537.988.725.375.175.825.263%201.325.263m-6.775-9.525h3.55v1.388h.07500000000000001c.375-.488.887-.912%201.525-1.275.637-.362%201.438-.55%202.413-.55%201.125%200%202.075.225%202.85.663.763.45%201.4%201%201.888%201.675.5.675.85%201.412%201.075%202.225.213.813.325%201.575.325%202.313%200%20.912-.15%201.762-.45%202.563-.3.8-.725%201.5-1.275%202.1-.538.6-1.188%201.075-1.938%201.425-.75.35-1.575.525-2.462.525-.575%200-1.075-.063-1.487-.188-.413-.125-.775-.263-1.087-.425-.313-.163-.563-.338-.762-.512-.213-.175-.363-.325-.463-.45v5.337h-3.775v-16.813z%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M91.118%2021.181h3.538v1.338h.05c.075-.15.175-.325.313-.537.138-.2.325-.4.563-.575.237-.175.537-.338.912-.463s.825-.2%201.375-.2v3.8c-.438.013-.837.05-1.2.112-.375.063-.688.175-.95.35-.262.162-.475.4-.613.7-.15.3-.212.687-.212%201.162v6.938h-3.775v-12.625z%22/%3E%3Cpath%20fill%3D%22%2344CFC0%22%20d%3D%22M102.713%2033.8h-3.775v-12.613h3.775v12.613z%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M104.524%2021.181h3.525v1.338h.05c.088-.15.213-.325.375-.537.163-.2.375-.4.637-.575.263-.175.6-.338.988-.463s.862-.2%201.425-.2c.6%200%201.212.112%201.8.313.6.225%201.075.487%201.425.787.163.15.338.325.512.537.175.2.325.463.463.787.138.313.25.7.338%201.15.1.45.138.988.138%201.6v7.887h-3.762v-6.887c0-.225-.013-.488-.037-.787-.025-.3-.087-.587-.212-.85-.125-.275-.313-.5-.575-.7-.275-.187-.65-.287-1.15-.287-.55%200-.963.1-1.25.313-.287.2-.5.437-.637.725-.138.275-.213.563-.238.862-.025.3-.037.538-.037.737v6.863h-3.775v-12.613z%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M118.116%2016.978h3.775v8.775h.05l3.5-4.575h4.475l-4.75%205.55%204.612%207.063h-4.275l-3.563-6.063h-.05v6.075h-3.775v-16.825z%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M130.5%2016.975h3.775v16.825h-3.775v-16.825z%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M144.912%2026.091c-.05-.175-.125-.4-.237-.65-.112-.25-.288-.488-.512-.712-.225-.225-.512-.413-.862-.563-.35-.15-.762-.225-1.25-.225s-.9.075-1.25.225c-.35.15-.637.337-.862.562-.225.225-.4.463-.512.713-.113.25-.2.475-.238.65h5.725zm3.337%203.75c-.3.712-.675%201.338-1.112%201.875-.438.537-.925.988-1.45%201.35-1.063.762-2.25%201.137-3.588%201.137-.912%200-1.762-.175-2.563-.512-.8-.338-1.512-.813-2.125-1.425-.613-.6-1.1-1.313-1.45-2.125-.375-.8-.55-1.675-.55-2.613%200-.875.163-1.725.488-2.55.325-.813.775-1.538%201.375-2.163.587-.625%201.3-1.125%202.1-1.5.813-.388%201.688-.575%202.65-.575.95%200%201.837.175%202.662.537.813.35%201.525.838%202.112%201.462.587.625%201.05%201.363%201.388%202.2.325.838.5%201.737.5%202.688%200%20.263-.013.463-.025.588l-.062.425h-9.45c.125.762.45%201.35%201.013%201.762.55.413%201.2.625%201.938.625.575%200%201.037-.112%201.388-.338.337-.237.65-.513.9-.85h3.862z%22/%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M149.845%2021.181h3.55v1.338h.05l.313-.537c.138-.2.325-.4.563-.575.225-.175.525-.338.9-.463s.825-.2%201.375-.2v3.8c-.438.013-.837.05-1.2.112-.375.063-.688.175-.95.35-.262.162-.463.4-.613.7-.137.3-.212.687-.212%201.162v6.938h-3.775v-12.625z%22/%3E%3C/g%3E%3C/svg%3E");
    background-size: 159px 40px;
    background-repeat:no-repeat;
    margin: 1px auto;
}
#donate {
    display: none;
}
#about p {
    text-align:center;
    overflow: visible;
    white-space: normal;
}
#auto-scan {
    display: none;
}
#welcome_list {
    width:250px;
    margin: 0 auto;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    top: 15%;
}
#welcome_logo {
    display: block;
    margin: 0 auto 20px auto;
}
#settings ul li {
    border: none;
}
a {
    text-decoration: none;
}
.btn-no-border {
    border: none;
    background: none !important;
    height: 25px;
}
#status_list .ui-li {
    padding-bottom: 4px;
}
#status_header,#status_footer {
    margin:0;
    text-align: center;
    font-size: smaller;
}
.ui-collapsible-heading-toggle {
    font-weight: bold !important;
}
.mini-load {
    zoom: 0.5;
    height: 2.875em;
    width: 2.875em;
    margin:0 auto !important;
    opacity:0.18;
}
#weather-list .ui-li-divider {
    padding: 0.5em 0;
    text-align: center;
}
#weather-list {
    display:none;
    width:20%;
    float:left;
    margin-right:10px;
    margin-left: -1000px;
    overflow-y:hidden
}
#info-list {
    overflow: hidden;
}
#program-control-list {
    clear:both;
}
.nobr {
    white-space:nowrap
}
#footer-running, #showupdate {
    font-weight: normal;
    display: none;
    padding: 2px 0;
    font-size: medium;
    margin: 0 -16px 0 -16px;
    position: relative;
}
#running-icon {
    width: 11px;
    height: 11px;
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211px%22%20height%3D%2211px%22%3E%3Ccircle%20fill%3D%22%235ADC56%22%20stroke%3D%22%23000000%22%20stroke-width%3D%220.1%22%20stroke-miterlimit%3D%2210%22%20cx%3D%225.5%22%20cy%3D%225.5%22%20r%3D%225.5%22/%3E%3C/svg%3E");
    background-size: 11px 11px;
    background-repeat:no-repeat;
    margin:auto auto auto 4px;
    position:absolute;
    top:0;bottom:0;
 }
#running-text {
    margin:0;
    text-shadow: none;
    color: #ffffff;
}
#footer-running.green #running-text {
    padding-left: 20px;
}
.rain-desc {
    word-wrap:normal;
    white-space:normal !important;
    overflow:visible !important;
    text-align:center;
}
#preview_header .ui-input-text {
    display: inline-block;
    width:75%;
    vertical-align: text-top;
}
#preview_header {
    width:100%;
    white-space:nowrap;
    text-align:center
}
#preview_header a {
    padding-top: 10px;
    display: inline-block;
    vertical-align: text-top;
}
.use_master {
    width: 5%;
    text-align: center;
}
.timeline-event-content a {
    text-decoration: none;
}
:not(input) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-select: none;
    -ms-content-zooming: none;
    -o-user-select: none;
    user-select: none;
}
#raindelay, #sure, #addnew, #site-select {
    width: 300px;
}
#manual ul, #forecast ul, #about ul {
    max-width: 800px;
    margin: 16px auto;
}
#sprinklers div[data-role="header"] .ui-icon {
    background-color: transparent;
    box-shadow: none;
}
#addprogram .ui-input-text, #programs .ui-input-text {
    margin: 0.1em !important;
}
@media (max-width: 480px) {
    #weather-list {
        width:80px;
    }
    #weather-list li:not(.ui-li-divider) {
        height: auto;
    }
    #raindelay, #sure, #addnew, #site-select {
        width: 250px;
    }
    div.timeline-frame {
        counter-reset: station;
    }
    div.timeline-groups-text {
        width: 22px;
        overflow: hidden;
        text-overflow: clip;
    }
    div.timeline-groups-text:before {
        content: attr(data-shortname) "     ";
        white-space:pre;
    }
    .ui-mini {
        font-size: 12px;
    }
}
@media (max-width: 940px) {
    #weather .location {
        font-size:8px;
        font-weight: inherit;
        white-space: normal !important;
    }
    .wicon {
        zoom: .5;
        -moz-transform: scale(0.5);
        -o-transform: scale(0.5);
        display: block !important;
    }
}
@media (max-width: 940px) and (min-width: 480px) {
    .wicon {
       margin: 0 auto !important;
    }
}

div.ui-flipswitch {
    position: absolute;
    right: 5px;
    top: 5px;
}

.master {
    background-color: #DEAD5D !important;
}
.program-1 {
    background-color: rgba(0,200,0,0.5) !important
}
.program-2 {
    background-color: rgba(200,0,0,0.5) !important
}
.program-3 {
    background-color: rgba(0,200,200,0.5) !important
}
.delayed {
    background-color: #C96161 !important;
    text-decoration: line-through;
}
.red {
    background-color: #C96161 !important;
    background: #C96161 !important;
    color: #FFFFFF !important;
    font-weight: normal;
    text-shadow: none !important;
}
.green {
    background-color: #16a085 !important;
    background: #16a085 !important;
    color: #FFFFFF !important;
    font-weight: normal;
    text-shadow: none !important;
}
.sname {
    margin: -.4em 0 !important;
}
.rem {
    margin-bottom: 0 !important;
    font-size: 0.71em !important;
}
.ui-header .ui-title { margin-left: 1em; margin-right: 1em; }
.center {
	text-align: center !important
}
.panelhelp {
    white-space: normal
}
#timeline-navigation {
    text-align: center;
    display: none;
}
div.timeline-frame{border:1px solid #bebebe;overflow:hidden}div.timeline-axis{border-color:#bebebe;border-width:1px;border-top-style:solid}div.timeline-axis-grid{border-left-style:solid;border-width:1px}div.timeline-axis-grid-minor{border-color:#e5e5e5}div.timeline-axis-grid-major{border-color:#bfbfbf}div.timeline-axis-text{color:#4d4d4d;padding:3px;white-space:nowrap}div.timeline-event{color:#1a1a1a;border-color:#97b0f8;background-color:#d5ddf6;display:inline-block}div.timeline-event-selected{border-color:#ffc200;background-color:#fff785;z-index:999}div.timeline-event-cluster div.timeline-event-dot{border-color:#d5ddf6}div.timeline-event-box{text-align:center;border-style:solid;border-width:1px;border-radius:5px;-moz-border-radius:5px}div.timeline-event-dot{border-style:solid;border-width:5px;border-radius:5px;-moz-border-radius:5px}div.timeline-event-range{border-style:solid;border-width:1px;border-radius:2px;-moz-border-radius:2px}div.timeline-event-range-drag-left{cursor:w-resize;z-index:1000}div.timeline-event-range-drag-right{cursor:e-resize;z-index:1000}div.timeline-event-line{border-left-width:1px;border-left-style:solid}div.timeline-event-content{margin:5px;white-space:nowrap;overflow:hidden}div.timeline-groups-axis{border-color:#bebebe;border-width:1px}div.timeline-groups-text{color:#4d4d4d;padding-left:10px;padding-right:10px}div.timeline-currenttime{background-color:#ff7f6e;width:2px}div.timeline-customtime{background-color:#6e94ff;width:2px;cursor:move}
div.timeline-frame {
    border-color: #5D99C3;
    border-radius: 5px;
    -moz-border-radius: 5px; /* For Firefox 3.6 and older */
}
div.timeline-axis {
    border-color: #5D99C3;
    background-color: #5D99C3;
}
div.timeline-axis-grid {
}
div.timeline-groups-axis {
    border-color: #5D99C3;
}
div.timeline-axis-text {
    color: white;
}
div.timeline-groups-text {
    color: #4D4D4D;
}
div.timeline-event {
    color: white;
    border-radius: 5px;
}
div.timeline-event-content {
    padding: 5px;
}

#weather {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wicon {
    vertical-align: middle;
    display: inline-block;
    width: 150px; height: 150px;
    margin: -35px -10px -25px -30px;
    background: url(../img/weather-icons-sprite.png);
}

#forecast .wicon {
    margin: 0 auto !important;
}

/* Weather Icon Sprites
 * http://www.alistapart.com/articles/sprites
 * http://developer.yahoo.com/weather/#codes
 */

.wicon.cond0  { background-position: -150px -150px; }				/*  0   tornado                   */
.wicon.cond1  { background-position: -150px -150px; }				/*  1   tropical storm            */
.wicon.cond2  { background-position: -150px -150px; }				/*  2   hurricane                 */
.wicon.cond3, .wicon.condchancetstorms,
.wicon.condnt_chancetstorms  { background-position: -300px -150px; }/*  3   severe thunderstorms      */
.wicon.cond4, .wicon.condtstorms,
.wicon.condnt_tstorms  { background-position: -300px -150px; }		/*  4   thunderstorms             */
.wicon.cond5  { background-position:    0px -450px; }				/*  5   mixed rain and snow       */
.wicon.cond6, .wicon.condchancesleet,
.wicon.condnt_chancesleet  { background-position: -150px -450px; }	/*  6   mixed rain and sleet      */
.wicon.cond7  { background-position:    0px -600px; }				/*  7   mixed snow and sleet      */
.wicon.cond8  { background-position:    0px -600px; }				/*  8   freezing drizzle          */
.wicon.cond9, .wicon.condchancerain,
.wicon.condnt_chancerain { background-position: -150px -300px; }	/*  9   drizzle                   */
.wicon.cond10, .wicon.condsleet,
.wicon.condnt_sleet { background-position:    0px -450px; }			/*  10  freezing rain             */
.wicon.cond11, .wicon.condrain,
.wicon.condnt_rain { background-position:    0px    0px; }			/*  11  showers                   */
.wicon.cond12 { background-position:    0px    0px; }				/*  12  showers                   */
.wicon.cond13, .wicon.condflurries, .wicon.condnt_flurries, .wicon.condchanceflurries,
.wicon.condnt_chanceflurries { background-position: -450px -150px; }/*  13  snow flurries             */
.wicon.cond14, .wicon.condchancesnow,
.wicon.condnt_chancesnow { background-position: -300px -300px; }	/*  14  light snow showers        */
.wicon.cond15 { background-position:    0px -150px; }				/*  15  blowing snow              */
.wicon.cond16, .wicon.condsnow,
.wicon.condnt_snow { background-position: -450px -150px; }			/*  16  snow                      */
.wicon.cond17 { background-position: -300px -450px; }				/*  17  hail                      */
.wicon.cond18, .wicon.condsleet,
.wicon.condnt_sleet { background-position: -150px -450px; }			/*  18  sleet                     */
.wicon.cond19 { background-position: -150px -600px; }				/*  19  dust                      */
.wicon.cond20, .wicon.condfog,
.wicon.condnt_fog { background-position: -150px -600px; }			/*  20  foggy                     */
.wicon.cond21, .wicon.condhazy,
.wicon.condnt_hazy { background-position: -150px -600px; }			/*  21  haze                      */
.wicon.cond22 { background-position: -150px -600px; }				/*  22  smoky                     */
.wicon.cond23 { background-position: -450px -300px; }				/*  23  blustery                  */
.wicon.cond24 { background-position: -450px -300px; }				/*  24  windy                     */
.wicon.cond25 { background-position:    0px -150px; }				/*  25  cold                      */
.wicon.cond26, .wicon.condcloudy,
.wicon.condnt_cloudy { background-position: -300px    0px; }		/*  26  cloudy                    */
.wicon.cond27, .wicon.condnt_mostlycloudy,
.wicon.condnt_partlysunny { background-position: -300px -600px; }	/*  27  mostly cloudy (night)     */
.wicon.cond28, .wicon.condmostlycloudy,
.wicon.condpartlysunny  { background-position:    0px -300px; }		/*  28  mostly cloudy (day)       */
.wicon.cond29, .wicon.condnt_partlycloudy,
.wicon.condnt_mostlysunny { background-position: -450px -600px; }	/*  29  partly cloudy (night)     */
.wicon.cond30 , .wicon.condpartlycloudy,
.wicon.condmostlysunny { background-position: -150px    0px; }		/*  30  partly cloudy (day)       */
.wicon.cond31,
.wicon.condnt_sunny { background-position: -450px -450px; }			/*  31  clear (night)             */
.wicon.cond32, .wicon.condclear,
.wicon.condsunny   { background-position: -450px    0px; }			/*  32  sunny                     */
.wicon.cond33,
.wicon.condnt_clear { background-position: -450px -450px; }			/*  33  fair (night)              */
.wicon.cond34 { background-position: -450px    0px; }				/*  34  fair (day)                */
.wicon.cond35 { background-position: -300px -450px; } 				/*  35  mixed rain and hail       */
.wicon.cond36 { background-position: -450px    0px; } 				/*  36  hot                       */
.wicon.cond37 { background-position: -300px -150px; } 				/*  37  isolated thunderstorms    */
.wicon.cond38 { background-position: -300px -150px; } 				/*  38  scattered thunderstorms   */
.wicon.cond39 { background-position: -300px -150px; } 				/*  39  scattered thunderstorms   */
.wicon.cond40 { background-position:    0px    0px; } 				/*  40  scattered showers         */
.wicon.cond41 { background-position: -450px -150px; } 				/*  41  heavy snow                */
.wicon.cond42 { background-position:    0px -450px; } 				/*  42  scattered snow showers    */
.wicon.cond43 { background-position: -450px -150px; } 				/*  43  heavy snow                */
.wicon.cond44 { background-position: -150px    0px; } 				/*  44  partly cloudy             */
.wicon.cond45 { background-position: -300px -150px; } 				/*  45  thundershowers            */
.wicon.cond46 { background-position:    0px -450px; } 				/*  46  snow showers              */
.wicon.cond47 { background-position: -300px -150px; } 				/*  47  isolated thundershowers   */
.wicon.cond3200, .wicon.condunknown,
.wicon.condnt_unknown { background: none; display: none; } 			/* 3200  not available             */
