# Auto detect text files and perform LF normalization
* text=auto

# JS files must always use LF for tools to work
*.js eol=lf

# Shell scripts must use LF (they run inside Linux containers)
*.sh eol=lf
