 <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:android   = "http://schemas.android.com/apk/res/android"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.albahra.opensprinkler"
        version     = "1.0.1"
        versionCode = "10" >

        <preference name="phonegap-version" value="3.3.0" />
        
        <preference name="permissions" value="none" />
        <gap:config-file platform="android" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </gap:config-file>

        <name>Sprinklers</name>

        <description>
        A mobile interface for the OpenSprinkler irrigation device. Designed to allow manual control, program management (view, edit, delete and add), initiation of a run-once program, viewing device status, adjusting rain delay, and changing of OpenSprinkler settings.
        </description>

        <author href="http://albahra.com/sprinklers/" email="salbahra@gmail.com">
        Samer Albahra
        </author>

        <access origin="*" />

        <gap:splash src="img/startup.png"                           gap:platform="ios" width="320"  height="480"  />
        <gap:splash src="img/startup-retina.png"                    gap:platform="ios" width="640"  height="960"  />
        <gap:splash src="img/startup-iphone5-retina.png"            gap:platform="ios" width="640"  height="1136" />
        <gap:splash src="img/startup-tablet-landscape.png"          gap:platform="ios" width="1024" height="748"  />
        <gap:splash src="img/startup-tablet-portrait.png"           gap:platform="ios" width="768"  height="1004" />
        <gap:splash src="img/startup-tablet-landscape-retina.png"   gap:platform="ios" width="2048" height="1496" />
        <gap:splash src="img/startup-tablet-portrait-retina.png"    gap:platform="ios" width="1536" height="2008" />

        <gap:splash src="img/startup.png" gap:platform="android" gap:density="ldpi" />
        <gap:splash src="img/startup-retina.png" gap:platform="android" gap:density="mdpi" />
        <gap:splash src="img/startup-tablet-portrait.png" gap:platform="android" gap:density="hdpi" />
        <gap:splash src="img/startup-tablet-portrait-retina.png" gap:platform="android" gap:density="xdpi" />

        <icon src="img/icon.png" gap:platform="ios" width="144" height="144" />

        <gap:plugin name="org.apache.cordova.core.inappbrowser" />
        <gap:plugin name="com.phonegap.plugin.statusbar" />
        <gap:plugin name="com.albahra.plugin.networkinterface" />
        
    </widget>
