 <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
            xmlns:android   = "http://schemas.android.com/apk/res/android"
            xmlns:gap   = "http://phonegap.com/ns/1.0"
            id          = "com.albahra.sprinklers"
            version     = "1.2.6"
            versionCode = "42" >

        <preference name="phonegap-version" value="3.6.3" />
        <preference name="DisallowOverscroll" value="true"  />
        <preference name="permissions" value="none" />
        <preference name="WebSecurity" value="disable"/>
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="SplashScreenDelay" value="10000"/>
        <preference name="ShowSplashScreenSpinner" value="false" />

        <feature name="http://api.phonegap.com/1.0/network"/>

        <gap:plugin name="com.phonegap.plugin.statusbar" />
        <gap:plugin name="com.albahra.plugin.networkinterface" />
        <gap:plugin name="org.apache.cordova.inappbrowser" />
        <gap:plugin name="org.apache.cordova.splashscreen" />
        <gap:plugin name="org.apache.cordova.geolocation" />

        <gap:config-file platform="ios" parent="NSLocationAlwaysUsageDescription" overwrite="false">
            <string>Your current location will be used to configure OpenSprinkler.</string>
        </gap:config-file>

        <gap:config-file platform="ios" parent="NSLocationWhenInUseUsageDescription" overwrite="false">
            <string>Your current location will be used to configure OpenSprinkler.</string>
        </gap:config-file>

        <gap:config-file platform="ios" parent="CFBundleShortVersionString">
            <string>126</string>
        </gap:config-file>

        <gap:config-file platform="android" parent="/manifest">
            <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" />
        </gap:config-file>

        <name>OpenSprinkler</name>

        <description>
            Designed to allow intuitive control of the OpenSprinkler irrigation controller.
        </description>

        <author href="http://albahra.com/sprinklers/" email="salbahra@gmail.com">
            Samer Albahra
        </author>

        <access origin="*" />

        <gap:splash src="res/ios/screens/startup.png"                           gap:platform="ios" width="320"  height="480"  />
        <gap:splash src="res/ios/screens/startup-retina.png"                    gap:platform="ios" width="640"  height="960"  />
        <gap:splash src="res/ios/screens/startup-iphone5-retina.png"            gap:platform="ios" width="640"  height="1136" />
        <gap:splash src="res/ios/screens/startup-iphone6-portrait.png"          gap:platform="ios" width="750"  height="1334" />
        <gap:splash src="res/ios/screens/startup-iphone6-landscape.png"         gap:platform="ios" width="1334"  height="750" />
        <gap:splash src="res/ios/screens/startup-iphone6plus-portrait.png"      gap:platform="ios" width="1242"  height="2208" />
        <gap:splash src="res/ios/screens/startup-iphone6plus-landscape.png"     gap:platform="ios" width="2208"  height="1242" />
        <gap:splash src="res/ios/screens/startup-tablet-landscape.png"          gap:platform="ios" width="1024" height="768"  />
        <gap:splash src="res/ios/screens/startup-tablet-portrait.png"           gap:platform="ios" width="768"  height="1024" />
        <gap:splash src="res/ios/screens/startup-tablet-landscape-retina.png"   gap:platform="ios" width="2048" height="1536" />
        <gap:splash src="res/ios/screens/startup-tablet-portrait-retina.png"    gap:platform="ios" width="1536" height="2048" />

        <gap:splash src="res/android/screens/mdpi.9.png"      gap:platform="android" gap:density="mdpi" />
        <gap:splash src="res/android/screens/xhdpi.9.png"     gap:platform="android" gap:density="xhdpi" />

        <gap:splash src="res/winphone/screens/startup.jpg" gap:platform="winphone" />

        <icon src="res/ios/icons/icon-57.png"       gap:platform="ios" width="57" height="57" />
        <icon src="res/ios/icons/icon-60@2x.png"    gap:platform="ios" width="120" height="120" />
        <icon src="res/ios/icons/icon-60@3x.png"    gap:platform="ios" width="180" height="180" />
        <icon src="res/ios/icons/icon-72.png"       gap:platform="ios" width="72" height="72" />
        <icon src="res/ios/icons/icon-72@2x.png"    gap:platform="ios" width="144" height="144" />
        <icon src="res/ios/icons/icon-76.png"       gap:platform="ios" width="76" height="76" />
        <icon src="res/ios/icons/icon-76@2x.png"    gap:platform="ios" width="152" height="152" />

        <icon src="res/android/icons/ldpi.png"      gap:platform="android" gap:density="ldpi" />
        <icon src="res/android/icons/mdpi.png"      gap:platform="android" gap:density="mdpi" />
        <icon src="res/android/icons/hdpi.png"      gap:platform="android" gap:density="hdpi" />
        <icon src="res/android/icons/xhdpi.png"     gap:platform="android" gap:density="xhdpi" />
        <icon src="res/android/icons/xxhdpi.png"    gap:platform="android" gap:density="xxhdpi" />

        <icon src="res/winphone/icons/icon-48.png"  gap:platform="winphone" />

    </widget>
